body {
     font-family:Verdana; font-size:14px; margin:10;}
#container {
    margin:0 auto; width:100%;
}
#header { 
    height:50px; background:#9c6; margin-bottom:5px;
}
#topmenu { 
    height:30px; background:#c0c0c0; margin-bottom:5px;
}
#middle { 
    margin-bottom:5px;
}
#leftmenu { 
    float:left; width:180px; background:#cf9;
}
#content { 
    float:left; background:#ffa;
}
#footer { 
    height:60px; background:#9c6;
    clear:both;
}
